@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #header {
    background-color: #f1f1f1;
    padding: 20px 10px;
    color: black;
    text-align: center;
    font-size: 90px; 
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.4s;
  }
  
  #content {
  margin-top:170px;padding:15px 15px 2500px;font-size:30px
  }